<!DOCTYPE html>
<html lang="en" xmlns:input="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_chat.css'%}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="class-black">
{% load static %}


  
<h1 class="text-black center" align="center">Chat4You</h1>

<div class="container black">
    
    <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label class="text-black">Room Name</label>
        <input type="text" name="room_name" id="room_name" width="100px" />
        <label class="text-black">Username</label>
        <input type="text" name="username" id="username" width="100px" />
        <input type="submit" value="Enter">
    </form>
    {% for name in context %}
      <div class="blocks">
        <span class="text-black">{{ name.name }}</span>
      </div>
    {% endfor %}
</div>

<input type="checkbox" id="theme" class="switch">

<script>
$(function () {
  $("#theme").on('click', () => {
  $('body').toggleClass('class-white')
  $('label').toggleClass('text-white')
  $('span').toggleClass('text-white')
  $('h1').toggleClass('text-white')
  $('div').toggleClass('white')
  $('#link').toggleClass('link_login_white')
  $('#mail').toggleClass('reg_white')
  $('#surname').toggleClass('reg_white')
  $('#name').toggleClass('reg_white')
  $('#date').toggleClass('reg_white')
  $('#password').toggleClass('reg_white')
  $('#cpassword').toggleClass('reg_white')
  })
})
</script>
</body>
</html>